/* font style */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* noto font */
.noto-serif-font {
  font-family: "Noto Serif", serif;
}
/* inter font */

.inter-font {
  font-family: "Inter", sans-serif;
}
/* common style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* share style */
:root{
    --menu-color:#8987A1;
    --primary-color: #E95A08;
    --secondary-color: rgba(0, 0, 0, 0.50);
    --hover-color:#252432;
}
body{
    background-color: #f5f8ff;
}
.section-width{
    max-width: 1140px;
    margin: auto;
}
.shared-tittle{
    font-size: 50px;
    font-weight: 700;
}
.shared-description{
    color: var(--secondary-color);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.section-top-padding{
    padding-top: 120px;
}




/* nav style */
nav{
    padding: 20px 0;
}
.nav-menu ul li a{
    color: var(--menu-color);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 24px;
}
.nav-menu ul li a:hover{
    color: var(--hover-color);
}

.nav-menu>.cart i{
    
    margin-right: 10px;
}
.cart h5{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
/* banner section */
.banner-container{
    padding-top: 220px;
}
.banner-tittle{
    color: #000;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
}
.banner-tittle span,
.shared-tittle span{
    color: var(--primary-color);
}

/* our plants */

.our-plants{

}
.section-content{
    max-width: 890px;
    margin: auto;
}

.cards-container{
    padding-top: 25px;
    /* border: 1px solid red; */
}
.card-tittle{
    color: #111;
    font-size: 22px;
    font-weight: 500;
    line-height: 150%;
    padding-top: 20px;
}
.card-cost{
    color: #111;
    font-size: 22px;
    font-weight: 700;
    line-height: 150%;
    padding: 8px 0 20px;
}
.card-btn{
    cursor: pointer;
    width: 100%;
    padding: 8px 0;
}



/* responsive layer */
@media screen and (max-width:576px) {
    /* nav section */
    nav{
        padding: 20px;
    }
    .nav-menu ul{
        display: none;
    }
    /* banner section */
    .banner-container{
    flex-direction: column-reverse;
    padding: 30px 0;
    }
    .banner-content,
    .section-content{
    padding: 0 20px;
    }
    .banner-tittle,
    .shared-tittle{
    font-size: 24px;
    }
    .shared-description{
    font-size: 14px;
    }
    /* our plants section*/
    .section-top-padding {
    padding-top: 60px;
    }
    .cards-container{
        padding: 20px 20px;
        grid-template-columns: repeat(2,1fr);
    }
}