/* font style */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* noto font */
.noto-serif-font {
  font-family: "Noto Serif", serif;
}
/* inter font */

.inter-font {
  font-family: "Inter", sans-serif;
}
/* common style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* share style */
:root{
    --menu-color:#8987A1;
    --primary-color: #E95A08;
    --secondary-color: rgba(0, 0, 0, 0.50);
    --hover-color:#252432;
}
body{
    background-color: #f5f8ff;
}
.section-width{
    max-width: 1140px;
    margin: auto;
}
.shared-tittle{
    font-size: 50px;
    font-weight: 700;
}
.shared-description{
    color: var(--secondary-color);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.section-top-padding{
    padding-top: 120px;
}
.hide{
    display: none;
}





/* nav style */
nav{
    padding: 20px 0;
}
.nav-menu ul li a{
    color: var(--menu-color);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 24px;
}
.nav-menu ul li a:hover{
    color: var(--hover-color);
}

.nav-menu>.cart i{
    
    margin-right: 10px;
}
.cart h5{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
/* banner section */
.banner-container{
    padding-top: 220px;
}
.banner-content{
    flex: 1;
}
.banner-img{
    flex: 1;
}
.banner-tittle{
    color: #000;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
}
.banner-tittle span,
.shared-tittle span{
    color: var(--primary-color);
}

/* our plants */

.our-plants{

}
.section-content{
    max-width: 890px;
    margin: auto;
}

.cards-container{
    padding-top: 25px;
    /* border: 1px solid red; */
}
.card-tittle{
    color: #111;
    font-size: 22px;
    font-weight: 500;
    line-height: 150%;
    padding-top: 20px;
}
.card-cost{
    color: #111;
    font-size: 22px;
    font-weight: 700;
    line-height: 150%;
    padding: 8px 0 20px;
}
.card-btn{
    cursor: pointer;
    width: 100%;
    padding: 8px 0;
}
/* Flower & Plants Lover section */
.section-img{
    background: linear-gradient(180deg, rgba(103, 171, 234, 0.24) 0%, rgba(233, 90, 8, 0.60) 100%),lightgray -197.425px -16.973px / 160.314% 103.191% no-repeat;
    width: 100%;
    position: relative;
}
.badge img{
    width: 50%;
    position: absolute;
    top: -100px;
    right: -90px;
    
    /* box-shadow: -4px 10px 4px 0 rgba(0, 0, 0, 0.25); */
    /* filter: drop-shadow(4px 10px 4px 0 grey); */
}
.plant-lover-content{
    padding-left: 50px;
}
.plant-lover-content ul{
    list-style: disc;
}
.plant-lover-content ul li{
    padding-bottom: 20px;
}
/* latest deal section */
.img-container{
    padding-top: 40px;
}
.img-up{
    color: #f5f8ff;
    width: 366px;
    height: 206px;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url('../assets/deal-bloom.png') lightgray 50% / cover no-repeat;
}
.img-up h3,
.img-down h3{
    font-size: 20px;
    font-weight: 700;
}
.img-up a,
.img-down a,
.img-right a{
    font-size: 28px;
    font-weight: 600;
    padding-top: 10px;
    border-bottom: 1px solid white;
}
.img-down{
    color: #f5f8ff;
    width: 366px;
    height: 206px;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url('../assets/deal-ana.png') lightgray 50% / cover no-repeat;
}
.img-right h3{
    font-size: 40px;
    font-weight: 700;
}
.img-right{
    color: #f5f8ff;
    width: 753px;
    height: 424px;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url('../assets/deal-zabo.png') lightgray 0px -78.437px / 115.538% 137.075% no-repeat;
}
/* colorful-bunch */
.colorful-bunch{
    color: #f5f8ff;
    margin-top: 100px;
    height: 533px;
    background: linear-gradient(0deg, rgba(7, 51, 79, 0.40) 0%, rgba(7, 51, 79, 0.40) 100%), url(../assets/news-letter-bg.png) lightgray 50% / cover no-repeat;
}
.colorful-bunch h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
}
.bunch-btn{
      
}
.colorful-bunch input{
    width: 830px;
    padding: 16px 30px;
    color: #111;
    background-color: #f5f8ff;
    border: none;
}
.colorful-bunch button{
    background-color: var(--primary-color);
    padding: 16px 30px;
}
/* footer section */
footer{
    padding: 50px 0;
}
.footer-logo p{
    margin-top: 20px;
}
footer>div{
    flex: 1;
}
.footer-menu>ul li {
    padding-bottom: 30px;
}
.footer-menu>ul li a{
    color: var(--menu-color);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.footer-menu>ul li a:hover{
    color: var(--hover-color);
}
.footer-top{
    margin-top: 10px;
}




/* responsive layer */
@media screen and (max-width:576px) {
    /* nav section */
    nav{
        padding: 20px;
    }
    .nav-menu ul{
        display: none;
    }
    /* banner section */
    .banner-container{
    flex-direction: column-reverse;
    padding: 30px 0;
    }
    .banner-content,
    .section-content{
    padding: 0 20px;
    }
    .banner-tittle,
    .shared-tittle{
    font-size: 24px;
    }
    .shared-description{
    font-size: 14px;
    }
    /* our plants section*/
    .section-top-padding {
    padding-top: 30px;
    }
    .cards-container{
        padding: 20px 20px;
        grid-template-columns: repeat(2,1fr);
    }
    /* Flower & Plants Lover section */
    .plants-lover{
        flex-direction: column;
        margin: 0 20px;
    }
    .plant-lover-content {
    padding: 0px 25px;
    }
    .badge{
        display: none;
    }
    /* latest deal */
    .img-container{
        flex-direction: column;
    }
    .img-up,
    .img-down,
    .img-right{
        width: 361px;
        height: 200px;
    }
    .img-up a,
    .img-down a,
    .img-right a{
    font-size: 16px;
    }
    .img-right h3{
        font-size: 20px;
    }
    /* colorful-bunch */
    .colorful-bunch{
    margin-top: 30px;
    height: 275px;
    }
    .colorful-bunch h1{
    font-size: 20px;
    }
    .colorful-bunch input{
    width: auto;
    padding: 8px 20px;
    }
    .colorful-bunch button{
    padding: 8px 20px;
    }
    /* footer section */
    footer{
        flex-direction: column;
        padding: 20px 20px;
        gap: 10px;
    }
    .footer-logo p{
    margin-top: 10px;
    }
    .footer-menu{
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    footer>div{
    justify-content: start;
    }
    .footer-menu>ul li {
    padding-bottom: 10px;
    }
}
